{% extends 'base.html.twig' %}

{% block title %} Liste salle {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
{% endblock %}

{% block body %}
    <div class="container">



    </div>
{% endblock %}